.login
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-container{
  display: flex;
  width: 900px;
  height: 400px;
  background-color: white;
}

.titulo{
  font-weight: bold;
  color: #265A88;
}

.info__div{
    width: 50%;
  background-color: #265A88;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info__div h3{
    color: white;
}

.inputs__div{
    width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__input
{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-control{
    width: 320px;
}

.image-library{
    
    height: 200px;
    width: 200px;
    color: white;
}

.error{
    color: red;
}

.navbar-brand{
    color: white;
}

.color-white{
    color: white;
}

/* ===== default button ===== */

.default__button
{
  background-color:  #265a88;
  border: none;
  border-radius: 10px;
  color: white;
  height: 45px;
  width: 200px;
}


.default__button:hover
{
  background-color: #4f7da6;
  transition: 0.5s;
}
